{% extends 'blog/base.html' %}
{% load static %}

 {% block content %}
<h4>Wähle deine Lieblings-Kategorie :)</h4>
<table class="category-links">
    <tr>
        <td><a href="{% url 'recipe_cuisfilter' cuis='INT' %}">Internationale Küche</a></td>
        <td><a href="{% url 'recipe_cuisfilter' cuis='ASI' %}">Asiatische Küche</a></td>
        <td><a href="{% url 'recipe_cuisfilter' cuis='AFR' %}">Afrikanische Küche</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'recipe_cuisfilter' cuis='EUR' %}">Europäische Küche</a></td>
        <td><a href="{% url 'recipe_cuisfilter' cuis='AME' %}">Amerikanische Küche</a></td>
        <td><a href="{% url 'recipe_cuisfilter' cuis='SUA' %}">Südamerikanische Küche</a></td>
    </tr>
</table>
<h4>Oder stöbere durch Rezepte ohne diese Allergene... </h4>
<table class="category-links">
    <tr></tr>
    <tr>
        <td><a href="{% url 'recipe_allerfilter' aller='NA' %}">Keine Allergene</a></td>
        <td><a href="{% url 'recipe_allerfilter' aller='nuts' %}">ohne Nüsse</a></td>
        <td><a href="{% url 'recipe_allerfilter' aller='glut' %}">ohne Gluten</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'recipe_allerfilter' aller='lact' %}">ohne Kuhmilch</a></td>
        <td><a href="{% url 'recipe_allerfilter' aller='fish' %}">ohne Fisch</a></td>
        <td><a href="{% url 'recipe_allerfilter' aller='egg' %}">ohne Hühnereier</a></td>
    </tr>
</table>
<h4>Oder schließe alle deine K.O.-Kriterien aus</h4><br>

<form method="POST" class="post-form">{% csrf_token %}
     {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Search</button><br>
 </form>

{% endblock %}
