{% extends 'blog/base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Lora&family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Paula's foodbook</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Paula's foodbook</a></h1>
    </div>
    <div class="content_container">
        <div class="row">
            <div class="col-md-8">

                {% block content %}
                <table class="category-links">
                    <tr>
                        <td><a href="{% url 'recipe_cuisfilter' cuis='INT' %}">Internationale Küche</a></td>
                        <td><a href="{% url 'recipe_cuisfilter' cuis='ASI' %}">Asiatische Küche</a></td>
                        <td><a href="{% url 'recipe_cuisfilter' cuis='AFR' %}">Afrikanische Küche</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'recipe_cuisfilter' cuis='EUR' %}">Europäische Küche</a></td>
                        <td><a href="{% url 'recipe_cuisfilter' cuis='AME' %}">Amerikanische Küche</a></td>
                        <td><a href="{% url 'recipe_cuisfilter' cuis='SUA' %}">Südamerikanische Küche</a></td>
                    </tr>
                    <tr class="advsearch">
                        <td></td>
                        <td><a href="{% url 'advanced_search' %}">Erweiterte Suche</a></td>
                        <td></td>
                    </tr>
                </table><br>

                    {% for recipe in recipes %}
                        <div class="recipe">
                            <div class="properties">

                                <h4><p>{{ recipe.published_date }}</p></h4>
                                <h2><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></h2>
                                <p>{% if recipe.is_vegan and recipe.is_veggie %} Vegan, Vegetarisch {% elif recipe.is_vegan %} Vegan
                                    {% elif recipe.is_veggie %} Vegetarisch {% endif %} &nbsp;</p>
                                <p><h4>KATEGORIE</h4> {{recipe.get_cuisine_display}} </p><br>
                                <h4><p>ENTHALTENE ALLERGENE</h4> {{ recipe.contained_allergen }}</p><br>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
