{% extends 'blog/base.html' %}

{% block content %}
    <h2>Rezept erstellen/bearbeiten</h2>
     <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
         {{ form.as_p }}
         {{ ingredformset.management_form }}
         <table>
             {% for fsetform in ingredformset %}
                <tr>
                    {% for field in fsetform.visible_fields %}
                         <td> {{ field.label_tag }} {{ field }} </td>
                    {% endfor %}
                    <td class="hidden">{{ fsetform.id }}</td>
                </tr>
             {% endfor %}
         </table>
          <button type="submit" class="btn btn-outline-dark">Speichern</button><br>
     </form>
{% endblock %}
