{% extends 'blog/base.html' %}

{% block editsign %}
    <a href="{% url 'recipe_edit' pk=recipe.pk %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
{% endblock %}

{% block content %}
    <div class="recipe_detail">
        {% if recipe.published_date %}
            <div class="date">
                <h4>{{ recipe.published_date }}</h4>
            </div>
        {% endif %}

        <h2>{{ recipe.title }}</h2><br>
        <h4>ERNÄHRUNGSFORM</h4>
        <p>Vegan: {% if recipe.is_vegan %} Ja {% else %} Nein {% endif %}</p>
        <p>Vegetarisch: {% if recipe.is_veggie %} Ja {% else %} Nein {% endif %}</p><br>
        <h4> KATEGORIE </h4>
        <p>{{ recipe.get_cuisine_display }}</p>
        <h4> ENTHALTENE ALLERGENE </h4>
        <p>{{ recipe.contained_allergen }}</p>
        <h4>ZUBEREITUNG</h4>
        <p>{{ recipe.instruction|linebreaksbr }}</p><br>

    </div>
{% endblock %}
