.page-header {
    background-color: #f0e4d4;
    margin-top: 0;
    padding: 10px 20px 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: 'Sacramento', cursive;
    color: #000000;
    font-size: 32pt;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}


.page-header h1 a::before {
    content: ' ';
    background-image: url("images/paula_icon.png");
    background-size: contain;
    width: 72px;
    height:  72px;
    display: inline-block;
    vertical-align: middle;
}


.content {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 10px;
}

h3 {
    font-size: 15pt;
    color: #d0b38d;
}


h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13pt;
}

h5 {
    font-family:'Open Sans', sans-serif;
    font-size: 10pt;
}

h6 {
    font-size: 12pt;
    color: #d0b38d;
}

.col-md-8 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    margin-top: 20px;
}

.col-md-8 a, .col-md-8 a:visited{
    color: black;
}

.date {
    color: #000000;
}

.save {
    float: right;
}


.post-form{
    margin-bottom: 50px;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    margin-top: 20px;
}

.content_container {
    max-height: 50px;
    max-width: 750px;
    overflow: hidden;
}

.recipe {
    margin: auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
}

.properties {
    max-height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 3px solid #f0e4d4;
    overflow: auto;
}

.properties h4{
    margin-top: 5px;
    margin-bottom: 3px;
}


.category-links {
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    td, .recipe {
        display: block;
    }
}

.advsearch {
    font-size: 16px;
    line-height: 40px
}

.advsearch a::before{
    content: ' ';
    background-image: url("images/arrow_right.png");
    background-size: contain;
    width: 16px;
    height:  17px;
    display: inline-block;
    vertical-align: middle;
}

.allergen-links {
    width: 130%;
    height: 10%;
    text-align: center;
  }

body{
    background-color: white;
}

.result-title {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #808080;
}

.result-title span{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13pt;
}

.list-image {
    float:right;
    width: 45%;
}

.img-responsive{
    margin-bottom: 25px;
}